@model ecommerce.Models.CategoryModel

<h2>Category Add</h2>
@{
  
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-end mb-3">
    <a href="@Url.Action("List", "Category")" class="btn btn-dark">Back to List</a>
</div>

@using (Html.BeginForm("detailsRequest", "Category", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.CId)

    <div class="mb-3">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        @Html.Label("Status", "Status", htmlAttributes: new { @class = "control-label col-md-2" })


        <div class="form-check">
            @Html.CheckBoxFor(model => model.Active, new { @class = "form-check-input" })
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "form-check-label" })
        </div>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    @if (TempData["Message"] != null)
    {
    <script>
     
        alertWithSuccessMsg("@TempData["Message"]");
    </script>
    }
}






